body, head {
    color: #ffffff;
    background-color: rgb(153, 153, 153);
}

#MainTable {
    text-align: left;
    width: 0;
    padding: 1vw;
    vertical-align: top;
    horiz-align: left;
}

#navSide {
    vertical-align: top;
}

weblink {
    font-family: monospace;
    font-style: italic;
}

h1 {
    font-size: 2vw;
    font-weight: bold;
    text-decoration: underline;
}