body, head {
    color: #ffffff;
    background-color: rgb(153, 153, 153);
}

#MainTable {
    text-align: left;
    width: 100%;
    padding: 1vw;
    vertical-align: top;
    horiz-align: left;
}

#NavSide {
    vertical-align: top;
}

#PageSide {
    position: relative;
    vertical-align: top;
    width: 100vw;
}

weblink {
    font-family: monospace;
    font-style: italic;
}

h1 {
    font-size: 2.5vw;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0;
}

h2 {
    font-size: 1.75vw;
    text-decoration: underline;
}

@keyframes pageActivate {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes pageDeactivate {
    from {opacity: 1}
    to {opacity: 0}
}

img {
    width: 100%;
}