.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: gray;
    border-radius: 0.5vw;
    box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw 0 rgba(0, 0, 0, 0.2), 0 0.3125vw 1.0416666666666665vw 0 rgba(0, 0, 0, 0.19);
    line-height: 80%;
}

.navItem {
    text-align: center;
    /*display: inline-block;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75vw;
    /*padding-bottom: 3px;*/
    display: block;
    padding: 1.4vw 0;
    text-decoration: none;
}

.nonActiveNavItem {
    cursor: pointer;
    color: #ffffff;
    background-color: gray;
}

.deactivatedNavItem.navUp {
    animation: navDeactivateUp 0.5s;
    animation-fill-mode: backwards;
}

.deactivatedNavItem.navCenter{
    animation: navDeactivateCenter 0.5s;
    animation-fill-mode: backwards;
}

.deactivatedNavItem.navDown{
    animation: navDeactivateDown 0.5s;
    animation-fill-mode: backwards;
}

.nonActiveNavItem:hover {
    color: rgb(255, 216, 109);
    background-color: rgb(140, 140, 140);
}

.activeNavItem {
    cursor: default;
    /*border-bottom: 10px #ffffff;
    border: 10px #000000;*/
    border-radius: 0.5vw;
    /*border-color: gray solid;
    border-style: solid;
    border-left: 10px;
    border-right: 10px;*/
    box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw 0 rgba(0, 0, 0, 0.2), 0 0.3125vw 1.0416666666666665vw 0 rgba(0, 0, 0, 0.19);
    margin-left: -0.5vw;
    margin-right: -0.5vw;
    animation: navActivate 0.5s;
    animation-fill-mode: forwards;
}

@keyframes navActivate {
    to {background-color: #ffffff; color: #000000; font-weight: bold;}
}

@keyframes navDeactivateUp {
    from {background-color: #ffffff; color: #000000; font-weight: bold; margin-left: -0.5vw; margin-right: -0.5vw; border-radius: 0.5vw;}
    to {background-color: gray; color: #ffffff; font-weight: unset; margin-left: unset; margin-right: unset; border-bottom-left-radius: unset; border-bottom-right-radius: unset;}
}

@keyframes navDeactivateCenter {
    from {background-color: #ffffff; color: #000000; font-weight: bold; margin-left: -0.5vw; margin-right: -0.5vw; border-radius: 0.5vw;}
    to {background-color: gray; color: #ffffff; font-weight: unset; margin-left: unset; margin-right: unset; border-radius: unset;}
}

@keyframes navDeactivateDown {
    from {background-color: #ffffff; color: #000000; font-weight: bold; margin-left: -0.5vw; margin-right: -0.5vw; border-radius: 0.5vw;}
    to {background-color: gray; color: #ffffff; font-weight: unset; margin-left: unset; margin-right: unset; border-radius: 0.5vw; border-top-left-radius: unset; border-top-right-radius: unset;}
}

/*.nonActiveNavItem:hover {
    animation: navHover 0.1s, navHoverText 0.1s;
}

.nonActiveNavItem:not(:hover) {
    animation: navNotHover 0.1s, navNotHoverText 0.1s;
}

@keyframes navHover {
    to {background-color: rgb(140, 140, 140);}
}

@keyframes navNotHover {
    to {background-color: gray;}
}

@keyframes navHoverText {
    to {color: rgb(255, 216, 109);}
}

@keyframes navNotHoverText {
    to {color: #ffffff;}
}*/

.navUp {
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    /*border-bottom: solid #000000 1px;*/
}

.navDown {
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

/*.navCenter {
    border-bottom: #000000 solid 1px;
}*/

.borderOut {
    vertical-align: top;
    width: 0;
    text-align: center;
    background-color: rgb(204, 204, 204);
    border-radius: 1vw;
    box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw 0 rgba(0, 0, 0, 0.2), 0 0.3125vw 1.0416666666666665vw 0 rgba(0, 0, 0, 0.19);
    height: 0;
}

.borderIn {
    text-align: left;
    width: 0;
    padding: 1vw;
    vertical-align: top;
}

.navMenu {
    vertical-align: top;
}
