.page {
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    vertical-align: top;
    /*text-align: justify;*/
    position: absolute;
}

.activePage {
    display: block;
}

#generateErrorButton {
    color: red;
    font-size: 1vw;
}

#hashSelect{
    font-size: 1vw;
}

#ErrorPage {
    color: red;
}
