.page {
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    /*text-align: justify;*/
}

.activePage {
    display: block;
}
